
{% extends "layout.html" %}

{% block title %}Better off Live{% endblock %}
{% block h1 %}Better off Live{% endblock %}
{% block h2 %}Which is hotter: the live version or the studio recording? {% endblock %}


{% block description %}
Better off Live compares hotttnesss of an artist's live recordings to his/her other recordings of the same song.
{% endblock %}

{% block select %}
<form role="form" action="/" method=get class="myform" id="main-form">
    <div class="form-inline form-group">
      <input class="form-inline control-label myform" autofocus="" required="" name="artist" placeholder="Enter an artist" id="artist">
	<button class="btn btn-primary myform" type="submit">Search</button>
    </div>
</form>
{% endblock %}

{% block msg %}
    {% if msg %}
       <div class="sorry">Oh no!</div>
       <p id="msg">{{ msg }}</p>
    {% endif %}
{% endblock %}

{% block artist %}
   {% if data %}
        {{ artist }}
   {% endif %}
{% endblock %}

{% block scripts %}
    <script>var data = JSON.parse({{data|tojson|safe}});</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    {% if data %}
    <script src="{{ url_for('static', filename='js/barchart.js') }}" 
	    type="text/javascript" charset="utf-8"></script>
    {% endif %}
{% endblock %}
